.row
  .col-lg-6
    h1
    img(id="avatar", src="", height="230", width="230") 
    h2(class="gitUser")
    p(class="memberSince") Member since: 
  .col-lg-6
    .spacer
    p(class="profileName") Name: 
    p(class="profileCompany") Company: 
    p(class="profileBlog") Blog: 
    P(class="profileLocation") Location: 
    p(class="profileEmail") Email: 
    p(class="profileHireable") Hireable: 
    p(class="profileBio") Bio: 
    p(class="profileRepos") Public_Repos: 
    p(class="profileGists") Public_Gists: 
    p(class="profileFollowers") Followers: 
    p(class="profileFollowing") Following: 
    
